@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  * {
    @apply transition-[background-color,border-color,color] duration-300 border-zinc-200 dark:border-zinc-800;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-zinc-200 dark:bg-zinc-800 rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-300 dark:bg-zinc-700;
}

/* Bottom safe area for mobile notch */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
